    /* Responsive Devices  */



    /*--------------
    Responsive For Mobile Devices 
    ----------------- */

@media only screen and (max-width:688px) {
   /* Utilities Styles Here  */
    .container{
        width: 100%;
        padding: 0 20px;
    }


/* Navigation Bar Styles Here  */
    .navElements{
        flex-direction: column;
        align-items: center;
    }


    /* Hero Styles Here  */
    .camera{
        width:100%;
    }
    .influencerInfo{
        width: 94%;
    }
    .heroBoxes{
        flex-direction: column-reverse;
    } 
    .camera img{
        width:60%;
        transition: transform 1s ease-in-out;
    } 
    .camera img:hover{
        transform: scale(1.1) rotate(160deg);
    }  


/* Collection Style Here  */
    .productDetail{
        grid-template-columns: repeat(1,1fr);
    }

/* My Photography Styles Here  */
    .myName::after{
        font-size: 35px;
        white-space: nowrap;
        margin-top: 50px;
    }
    .photoBox{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
    }
    .boxes{
        width: 100%;
    }

    .explorebtn{
        width: 40%;
    }
}

    /*------------
     Responsive for Tablet  
     -------------*/

@media only screen and (min-width:689px) and  (max-width:992px){
    /* Utilities Styles Here  */
    .container{
        padding: 0 80px;
    }


    /* Navigation Bar Responsive Here  */
    .navElements{
        flex-direction: column;
        align-items: center;
    }

    .navElements{
        width: 100%;
        padding: 0 20px;
    }


    /* Collection Responsive Here  */
    .productDetail{
        grid-template-columns: repeat(2,1fr);
    }

    /* My Photography Responsive Here  */
    .photoBox{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        grid-gap: 2% 10%;
    }
    .boxes{
        width: 100%;
    }
    .explorebtn{
        width: 40%;
    }
}