*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
.container{
    max-width: 1024px;
    margin: 0 auto;
}





/* Navigation Bar Here  */
.navElements{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}
.navMenu{
    display: flex;
}
.navMenu li{
    padding:10px 10px;
}
.navMenu li a{
    color:black;
}
.logo{
    font-size: 24px;
    letter-spacing:6px ;
    font-weight: 600;
}




.heroBoxes{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.influencerInfo{
    width:40%;
}
.influencerInfo p{
    font-size: 16px;
    margin-bottom: 30px;

}
.heroTitle{
    font-size: 40px;
    margin-bottom: 20px;
}
.camera{
    width: 50%;
}
.camera img{
    width:70%;
}
.btn{
    padding: 10px 20px;
    color:white;
    background-color: blueviolet;
    border:1px solid blueviolet;
    border-radius: 20px;
    transition: 0.5s ;
}
.btn:hover{
    background-color: rgb(46, 34, 56);
}
